{% extends "layout.html" %}

{% block content %}
<main class="feedback-section">
    <div class="container">

        <div class="section-content">
            <h1>Signup</h1>

            <!--Delete this link below-->

            <!--<a href="#" class="btn-primary">Sign up</a>-->
            <!--<a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>-->
        </div>

        <div class="section-device">

        </div>

        <div class="clearfix"></div>

    </div>
</main>
{% endblock %}