{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
    <div class="container">

        <h1>Signup</h1>

    </div>

    <!--Pending Delete-->
    <div class="section-content">
        
    </div>
    
    <!--Pending Delete-->
    <div class="clearfix"></div>

    
</main>


</head>

<body>
    
    <form method="post">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                    <input name="verify" type="password">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email (optional)</label></td>
                <td>
                    <input name="email" value="">
                    <span class="error"></span>
                </td>
            </tr>
        </table>
        <input type="submit">
    </form>
</body>

</html>

{% endblock %}
